:root {
    --gray: #3b82f6;
    --light-gray: --web-grat;
    --medium-gray: #3F8CFF;

    --blue: #3b82f6;
    --light-blue: #3F8CFF;
    --azure: #eff4f8;
    --black: #000000;
    font-family: "Roboto", sans-serif;
}

h2{
        margin: 0;
        font-size: 1.8rem;
        color: var(--light-blue);
}

table{
        width: 100%;
        border-collapse: collapse;
}



.left{
        text-align: left;
}



.actuator-delete-button:hover{
        background-color: var(--light-blue);
        cursor: pointer;
}

::-webkit-scrollbar {
        width: 12px; 
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: var(--web-gray);
        border-radius: 10px; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: var(--blue);
        border-radius: 10px; 
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: var(--light-blue);
        cursor: pointer;
    }
