:root {
  --gray: #1f2937;
  --light-gray: #e2e8f0;
  --medium-gray: #374151;

  font-family: "Roboto", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: flex;
  background-color: var(--gray);
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--gray);
  height: 1rem;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 10%;
}

main {
  position: absolute;
  top: 10%;
  left:10%;
  height: 90%;
  width: 89%;
  background-color: var(--light-gray);
  box-sizing: border-box; 
}

.block-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-menu{
  position: absolute;
  top: 10%;
  left: 0;
  background-color: var(--gray);
  height: 90%;
  width: 10%;
  display: flex;
  flex-direction: column;
}

.right-border {
  position: absolute;
  right: 0;
  top: 10%;
  height: 90%;
  background-color: var(--gray);
  width: 1%;
}

.base-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem; 
  color: white;
}

.base-menu-option,
.base-menu-option-logged {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem; 
  transition: 150ms;
}

.base-menu-option-logged p {
  font-size: 1rem;
}

.base-menu-option:hover {
  background-color: var(--medium-gray);
}

.base-login {
  display: flex;
  flex-direction: row-reverse;
  cursor: default;
  align-items: center;
  color: white;
}

.logo-container{
  justify-content: center;
  display: flex;
  align-items: center; 
  width: 20%;
}

.logo-container p{
  font-size: 1rem;
  color: white;

}

.logo-container img{
  width: 2.5rem; 
  align-self: center;

}
