:root {
  --blue: #3b82f6;
  --light-blue: #3F8CFF;
  --azure: #eff4f8;
  --black: #000000;
  font-family: "Roboto", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: flex;
  background-color: var(--blue);
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--blue);
  height: 1rem;
}

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 10%;
}

main {
  position: absolute;
  top: 10%;
  left: 12%;
  height: 90%;
  width: 88%;
  background-color: var(--web-gray);
  box-sizing: border-box; 
}

.block-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-menu{
  position: absolute;
  top: 10%;
  left: 0;
  background-color: var(--blue);
  height: 90%;
  display: flex;
  flex-direction: column;
  width: 12%;
}

.right-border {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 10%;
  height: 90%;
  background-color: var(--blue);
  width: 1%;
}

.base-menu {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  color: white;
  width: 100%;
}

.base-menu-option,
.base-menu-option-logged {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem; 
  transition: 150ms;
}

.base-menu-option-logged p {
  font-size: 1rem;
}

.base-menu-option:hover {
  background-color: var(--light-blue);
}

.base-login {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 1rem;
  cursor: default;
  align-items: center;
  color: white;
}

.logo-container{
  justify-content: center;
  display: flex;
  align-items: center; 
  width: 20%;
}

.logo-container p{
  font-size: 1rem;
  color: white;

}

.logo-container img{
  width: 2.5rem; 
  align-self: center;

}
