:root {
    --gray: #1f2937;
    --light-gray: #e2e8f0;
    --medium-gray: #374151;

    --blue: #3b82f6;
    --light-blue: #3F8CFF;
    --azure: #eff4f8;
    --black: #000000;
    font-family: "Roboto", sans-serif;
}
sensor-label, .sensor-input{
        width: 70%;
}
.sensor-input{
        padding: 0.7rem;
        border: none;
        background-color: var(--web-gray);
        border-radius: 0.5rem;
        font-size: 1.2rem;
}

.sensor-input:focus{
        outline-color: var(--light-blue);
}

.sensor-button{
        padding: 1rem;
        width: 50%;
        background-color: var(--blue);
        color: white;
        border: none;
        border-radius: 0.5rem;
        font-size: 1.2rem;
}
.sensor-button:hover{
        background-color: var(--light-blue);
        cursor: pointer;
}

.sensor-table{
        width: 100%;
}

.sensor-table tr{
        border-bottom: 0.0625rem solid var(--border-gray);
}

.sensor-table-header{
        justify-content: space-between;
        background-color: white;
        color: white;
        width: 100%;
        padding: 0.5rem;
        text-align: center;
        color: var(--black);
}

.sensor-table-data{
        padding: 0.5rem;
        text-align: center;
}



.sensor-table-data:last-child{
        border-bottom: none;
}

.sensor-delete-button{
        background-color: var(--blue);
        color: white;
        border: none;
        padding: 0.7rem;
        border-radius: 0.5rem;
}

