:root {
  --gray: #1f2937;
  --light-gray: #e2e8f0;
  --medium-gray: #374151;

  --blue: #3b82f6;
  --light-blue: #3F8CFF;
  --azure: #eff4f8;
  --black: #000000;
  font-family: "Roboto", sans-serif;
}

h3{
  margin: 0;
}

.user-container{
  display: flex;
  gap: 5rem;
}
.inside-container{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 95%;;
}

.inside-container h1{
  text-align: left;
}

.inside-container h2{
  color: var(--black);
}

.create-user-section,
.edit-user-section{
  text-align: center;
  border: 0.0625rem solid var(--border-gray);
  border-radius: 0.2rem;
  width: 100%;
  padding: 1rem;
  background-color: white;
}

.create-user-form,
.edit-user-form{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.form-group select{
  min-width: 90%;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: var(--web-gray);
  border: 0.0625rem solid var(--border-gray);
}

.form-group select option{
  background-color: var(--web-gray);
}

.form-group label{
  font-weight: bold;
  color: var(--gray);
  font-size: 0.875rem;
}

.create-user-form input,
.edit-user-form input{
  min-width: 90%;
  max-width: 100%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--web-gray);
}

.create-user-form button,
.edit-user-form button{
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
  background-color: var(--blue);
  color: white;
  font-weight: bold;
}
.create-user-form button:hover,
.edit-user-form button:hover{
  background-color: var(--light-blue);
  cursor: pointer;
}

.user-list-section{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  border-radius: 0.2rem;
  border: 0.0625rem solid var(--border-gray);
  max-width: 100%;
  padding: 1rem;
  max-width: 100%;
  min-width: 75%;
  min-height: 10rem;
  max-height: 10rem;
  background-color: white;
}

.view-user-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  overflow-y: scroll;
}

.view-user-container table{
  width: 100%;
  border-collapse: collapse;
}

.delete-button{
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.delete-button:hover{
  background-color: var(--light-blue);
  cursor: pointer;
}

.view-user-container td{
  padding: 0.5rem;
  border-bottom: 0.0625rem solid var(--border-gray);
  }