{% extends "base.html" %}
{% block title %}
Home Page
{% endblock %}
{% block content %}
<div class="container">
    <div class="title-container">
      <h2 id="title">QuietQuake</h2>
      <span class="subtitle">Integração de sensores de temperatura, umidade e vibração, além de atuadores como buzzer e LEDs, para fornecer alertas sobre mudanças ambientais críticas.</span>
      <div class="btn-container">
        <button>teste</button>
        <a href="">explore</a>
      </div>
    </div>
    <div class="icons-container">
      <div class="icon">
        <img src="{{url_for('static', filename='img/fire.svg')}}">
        <span>Fique um passo à frente do fogo: sistema de aviso de incêndios que salva vidas!</span>
      </div>
      <div class="icon">
        <img src="{{url_for('static', filename='img/flood.svg')}}">
         <span>Prevenção é a chave: receba alertas de enchentes e mantenha-se seguro!</span>
      </div>
      <div class="icon">
        <img src="{{url_for('static', filename='img/earthquake.svg')}}">
         <span>Desastres sob controle: sistema de alerta que salva vidas e previne tragédias!</span>
      </div>
    </div>
</div>
{% endblock %}
