{% extends "base.html" %}
{% block title %}
Home Page
{% endblock %}

{% block content %}
    <div class="date-container">
        <h1>Sensor Data Viewer</h1>
        <form action="/read_logs" method="POST" class="form-container">
            <div class="form-row">
                <div class="form-group">
                    <label for="start_date">Start Date</label>
                    <input type="date" id="start_date" name="start_date" required>
                </div>
                <div class="form-group">
                    <label for="end_date">End Date</label>
                    <input type="date" id="end_date" name="end_date" required>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
        
        <div class="sensor-data-container">
            <div class="sensor-data-row">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if is_admin or is_statistician %}
                        {%for data in sensor_data_temp %}
                            <tr>
                                <td >{{ data.name }}</td>
                                <td>{{ data.value }}</td>
                                <td>{{ data.timestamp }}</td>
                                <td>
                                    <form action="delete_log_temp/{{data.id}}" method="POST">
                                        <button type="submit" class="delete-button">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {%for data in sensor_data_hum%}
                            <tr>
                                <td>{{data.name}}</td>
                                <td>{{ data.value }}</td>
                                <td>{{ data.timestamp }}</td>
                                <td>
                                    <form action="delete_log_hum/{{data.id}}" method="POST">
                                        <button type="submit" class="delete-button">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {%for data in sensor_data_vib%}
                            <tr>
                                <td>{{data.name}}</td>
                                <td>{{ data.value }}</td>
                                <td>{{ data.timestamp }}</td>
                                <td>
                                    <form action="delete_log_vib/{{data.id}}" method="POST">
                                        <button type="submit" class="delete-button">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                        {%if is_admin or is_operator %}
                        {%for data in actuator_data%}
                            <tr>
                                <td>{{data.name}}</td>
                                <td>{{ data.value }}</td>
                                <td>{{ data.timestamp }}</td>
                                <td>
                                    <form action="delete_log_actuator/{{data.id}}" method="POST">
                                        <button type="submit" class="delete-button">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
